<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Show All Notes</title>
</head>
<body>
    <style>
        h1 {
            color: darkgoldenrod;
            text-align: center;
            font-size: 80px;
        }
    </style>
    <h1>All Notes</h1>
    <form action="/note/getAll" method="get"></form>
</body>
</html>