<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Get A Note</title>
    <link rel="stylesheet" href="/css/getANote.css">
</head>
<body>
    <h1>Get A Note</h1>
    <br>
    <br>
    <form action="/note/getNoteByTitle" method="post">
        <input type="text" required placeholder="Title of the note">
        <input id="btn" type="submit" value="send">
    </form>
</body>
</html>