<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Note App</title>
    <link rel="stylesheet" href="/css/note.css">
</head>
<body>
        <h1>Note App</h1>
        <div>
            <a href="/App/addNote">Create New Note</a>
            <br><br>
            <a href="/App/AllNote">Show All Notes</a>
            <br><br>
            <a href="/App/getANote">Get A Note</a>
            <br><br>
            <a href="/App/delete">Delete A Note</a>
        </div>
</body>
</html>