<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Note App</title>
    <link rel="stylesheet" href="/css/note.css">
</head>
<body>
        <h1>Note App</h1>
        <div>
            <a href="addNote.ejs">Create New Note</a>
            <br><br>
            <a href="AllNotes.ejs">Show All Notes</a>
            <br><br>
            <a href="getANote.ejs">Get A Note</a>
            <br><br>
            <a href="deleteANote.ejs">Delete A Note</a>
        </div>
</body>
</html>