<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>user</title>
    <link rel="styleSheet" href="/css/user.css">
</head>
<body>
    <h1>Welcome To Our WebSite</h1>
    <br> <br>
    <form action="/user/addUser" method="post">
        <input type="text" name="name" required placeholder="name">
        <br><br>
        <input type="email" name="email" required placeholder="email">
        <br><br>
        <input type="password" name="password" required placeholder="password">
        <br><br>
        <input type="submit" value="login" id="submit">
    </form>
</body>
</html>