h1{
    color:#b8860b;
    text-align: center;
    font-size: 80px;
}

body {
    background-color: #1f1f1f;
}

a {
    text-decoration: none;
    color: aliceblue;
    font-size: large;
    
}

div {
    text-align: center;
}