h1{
    color:#b8860b;
    text-align: center;
    font-size: 80px;
}

form {
    text-align: center;
    border-style: solid;
    padding: 20px;
    margin-left:450px;
    margin-right: 450px;
    border-radius: 10px;
    border-color: black;
    background-color: #0a0a09;
    box-shadow: 0 8px 30px rgba(0,0,0,0.35);
}

input {
    padding: 10px;
    width: 250px;
    border: none;
    border-radius: 10px;
    border-color: black;
}
#submit {
    width: 100px;
    background-color: darkgray;
    box-shadow: 15px 15px 20px rgba(62, 61, 61, 0.35);

}

#submit:hover {
    background-color: #b8860b;
    color: white;
}

body {
    background-color: #1f1f1f;
}

